# Database
*.sqlite3
db.sqlite3

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store

#Node modules
node_modules/
package-lock.json
package.json

#Static files
static/

#Migrations
migrations/

#Lib files
lib/
